@import "./global.scss";

.home {
    padding-bottom: 100px;
    position: relative;
    background-color: #272935;

    .header__container {
        background-color: #1e2128;
        .header {
            color: #9095ab;
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1240px;
            padding: 20px 40px;
            margin-inline: auto;
            &-left {
                display: flex;
                align-items: center;
                gap: 40px;
                .logo-name {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    img {
                        height: 50px;
                        width: 100px;
                    }
                }
                .nav-links {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    .nav-link {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        color: #9095ab;
                        text-decoration: none;
                        &:hover {
                            color: #aaaebe;
                        }
                    }
                }
            }
            &-right {
                display: flex;
                gap: 20px;
                align-items: center;

                .premium__btn {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    text-decoration: none;
                    background-color: rgb(255, 195, 79, 0.2);
                    border-radius: 5px;
                    padding: 8px 16px;
                    color: #ffc450;
                    transition: all 0.3s;
                    &:hover {
                        background-color: rgb(255, 195, 79, 0.3);
                    }
                }

                .discord-login__btn {
                    background-color: transparent;
                    border: none;
                    color: #f1f4fb;
                    border-radius: 6px;
                    font-size: 16px;
                    padding: 11px 16px;
                    transition: all 0.3s;
                    background-color: rgb(57, 148, 255, 1);
                    &:hover {
                        background-color: rgb(57, 148, 255, 0.8);
                    }
                }
            }
        }
    }

    .about {
        margin-top: 100px;
        color: #b8c1cf;
        max-width: 800px;
        margin-inline: auto;
        display: flex;
        &__icon {
            margin-right: 10px;
            margin-top: 5px;
            svg {
                color: #13b8a7;
            }
        }
        &__header {
            display: flex;
            gap: 10px;

            &--title {
                font-size: 30px;
                color: #fffffe;
            }
        }
        &__body {
            .about__paragraph {
                margin-top: 20px;
                color: #b8c1cf;
            }
            .about__executives {
                margin-top: 30px;
                &--heading {
                    font-size: 24px;
                    margin-bottom: 10px;
                }
                &--desc {
                    max-width: 360px;
                }
            }
            .about__advisors {
                margin-block: 30px;
                &--heading {
                    margin-bottom: 10px;
                    font-size: 24px;
                }
                &--list {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 20px;
                }
            }
            .about__research-engineer {
                margin-bottom: 30px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                &--title {
                    font-size: 24px;
                }
                .employee-names {
                    display: flex;
                    gap: 30px;
                }
            }
            .about__legal-finance {
                margin-bottom: 30px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                &--title {
                    font-size: 24px;
                }
                .employee-detail {
                    display: flex;
                    gap: 50px;
                }
            }
            .about__community-management {
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin-bottom: 30px;
                &--title {
                    font-size: 24px;
                }
                .employee-names {
                    display: flex;
                    gap: 25px;
                }
            }
            .about__employee-container {
                display: flex;
                flex-direction: column;
                gap: 20px;
                .employee-category {
                    font-size: 24px;
                }
                .employee-grid {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 10px;
                    .employee-description {
                        display: flex;
                        gap: 5px;
                        .employee-occupation {
                            display: inline-block;
                            width: 96px; /* You can adjust this value as needed */

                            /* Hide any overflow beyond the specified width */
                            overflow: hidden;

                            /* Apply ellipsis (...) when the content overflows */
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                        .employee-name {
                            color: gray;
                            display: inline-block;
                            width: 100px; /* You can adjust this value as needed */

                            /* Hide any overflow beyond the specified width */
                            overflow: hidden;

                            /* Apply ellipsis (...) when the content overflows */
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }
        }
    }

    .careers {
        margin-top: 100px;
        color: white;
        max-width: 800px;
        margin-inline: auto;
        display: flex;
        &__icon {
            margin-right: 10px;
            margin-top: 6px;
            svg {
                color: #5046e5;
            }
        }
        &__header {
            display: flex;
            gap: 10px;

            &--title {
                font-size: 30px;
                color: #fffffe;
            }
        }
        &__body {
            .careers__paragraph {
                margin-top: 20px;
                color: #b8c1cf;
            }
        }
    }

    .contact {
        margin-block: 100px;
        color: white;
        max-width: 800px;
        margin-inline: auto;
        display: flex;
        &__icon {
            margin-right: 10px;
            color: #d87705;
            margin-top: 6px;
        }
        &__header {
            display: flex;
            gap: 10px;

            &--title {
                color: #fffffe;
                font-size: 30px;
            }
        }
        &__body {
            .contact__paragraph {
                margin-top: 20px;
                color: #b8c1cf;
                a {
                    color: #5090c3;
                }
            }
        }
    }

    .footer {
        text-align: center;
        max-width: 800px;
        margin-inline: auto;
        &__links {
            display: flex;
            justify-content: center;
            gap: 20px;
            .footer__link {
                color: #a3abb9;
                text-decoration: none;
                transition: all 0.3s;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
