// Colors

$primary: #9b00bc;
$secondary: #000000;
$tertiary: #ffffff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  height: 100vh;
}

.home {
  &__heading {
    color: $primary;
    background: white;
  }
}
