@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@mixin section-max-width {
  max-width: 1400px;
  margin-inline: auto;
}

@mixin navigation-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: none;
  border-radius: 20px;
  padding: 10px 22px;
  font-size: 17px;
}

// Font
$font-family: "Poppins", sans-serif;

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  max-width: 1920px;
  margin-inline: auto;
}

@import "./home.scss";
@import "./loggedInPage.scss";

button {
  cursor: pointer;
}
